{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      // react 17 and babel bug
      // https://stackoverflow.com/questions/32070303/uncaught-referenceerror-react-is-not-defined
      {"runtime": "automatic"}
    ]
  ]
}